.weptile-image-slider-images-order li {
	height: auto;
	max-height: 300px;
	margin-bottom: 12px;
	position: relative;
	/*overflow:hidden;*/
	cursor: move;
	cursor: ns-resize; /* show ns resize if its compatible with the browse */
}

.weptile-image-slider-images-order li img {
	max-width: 340px;
}

.weptile-image-slider-images-order li .weptile-image-slider-images-delete-button {
	display: none;
	position: absolute;
	top: 3px;
	right: 10px;
}

.weptile-image-slider-images-order li:hover .weptile-image-slider-images-delete-button, .weptile-image-slider-images-order li.weptile-image-slider-images-will-be-deleted .weptile-image-slider-images-delete-button,
.weptile-image-slider-images-order li:hover .weptile-image-slider-images-details-button, .weptile-image-slider-images-order li.weptile-image-slider-images-will-be-deleted .weptile-image-slider-images-details-button {
	display: block;
	z-index: 100;
}

.weptile-image-slider-images-details-table {
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
}

.weptile-image-slider-images-order li .weptile-image-slider-images-details-button {
	display: none;
	position: absolute;
	right: 130px;
	top: 3px;
}

.weptile-image-slider-images-order li.weptile-image-slider-images-will-be-deleted {
	opacity: 0.5;
}

.weptile-image-slider-images-order li.weptile-image-slider-images-order-item-placeholder {
	border: 1px solid #e3e3e3;
	background: #e8e8e8;
	height: 30px;
}

.weptile-tr-with-description + tr {
	display: none;
	font-size: 11px;
	text-align: justify;
}

.weptile-tr-with-description:hover + tr, .weptile-tr-with-description + tr:hover {
	display: table-row;
}

.weptile-image-slider-image-link-target-input, .weptile-image-slider-image-link-rel-input {
	width: 78px;
}

.weptile-image-slider-image-link-target-select, .weptile-image-slider-image-link-rel-select {
	width: 100px;
}

.weptile-image-slider-theme-select {
	width: 73px;
}

.weptile-image-slider-custom-theme-input {
	width: 40px;
}